@font-face {
    font-family: 'Minecraftia';
    src: url('./fonts/Minecraftia-Regular.ttf') format('truetype');
}

h1 {
    padding-top:0px;
    margin-top: 0px
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 18px;
    }

    img {
        width: 45px
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'Minecraftia', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 1px solid black;
}

.btn {
    font-family: 'Minecraftia', Arial, sans-serif;
    padding: 10px;
    margin-top:10px;
    background-color: #c4bdbd;
    width: 80vw;
    color: black !important;
}
